---
BasedOnStyle: WebKit
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveMacros: 
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignTrailingComments: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Whitesmiths
IndentPPDirectives: BeforeHash
Language: Cpp
MaxEmptyLinesToKeep: '3'
PointerAlignment: Left
TabWidth: '4'
UseTab: ForIndentation
...
