---
Checks: 
    'bugprone-*,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    llvm-header-guard,
    llvm-include-order,
    readability-*,
    misc-no-recursion,
    modernize-deprecated-headers,
    modernize-loop-conver,
    performance-*'
---
