name: PlatformIO CI master

on:
  push:
    branches:
      - dev
      - master

  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install PlatformIO Core
        run: pip3 install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run --project-dir "./CPP_flight_computer_program"
